* {
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* header section styling */
.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    gap: 97px;
}

.head-section {
    padding: 197px 0px 150px 240px;
}

.header-flower  img{
    padding: 50px 240px 0px 0px;
    position: relative; */
    bottom: -15px;
}


.header-flowers-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.primary-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    gap: 10px;
}