body {
    font-family: 'Open Sans', sans-serif;
}

/* header section styling */
.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    gap: 97px;
    padding: 50px 220px 0px 220px;
}

.header-flowers-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.primary-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    gap: 10px;
}

/* main body starts from here */
/* Featured flowers section */
.featured-flower-section {
    text-align: center;
    justify-content: center;
    padding: 0px 60px;
    margin: 178px 240px 0px 240px;
}

.featured-flower-section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flower {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

#fea-img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

#fea-img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

#fea-img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}
 

.featured-flower-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Banner section */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px;
    margin: 150px 210px;
    gap: 80px;
}

.banner-item {
    text-align: center;
}

.banner-item-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* hot deal style */
.hot-deal {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-info {
    padding: 230px 30px 162px 423px;
    text-align: center;
    justify-content: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.hot-deal-img {
    padding: 100px 429px 100px 0;
}

/* instagram style */
.instagram {
    padding: 0 240px;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.instagram-image {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

/* email style  */
.email-box {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 230px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
}

.eamil-box-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.email-box-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.email {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 122px;
    gap: 10px;
}

.form {
    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 0;
}


/* footer style  */
.footer {
    background: #111010;
    padding: 128px 0;
    text-align: center;
    justify-content: center;
}

.title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 130px;
}

#shop{
    color: rgba(255, 255, 255, 0.90);
}